# Ignore virtual environments
venv/
**/venv/
new_venv/
**/new_venv
venv/
new_venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store


# Ignore zip files and folders
*.zip
zip/
**/zip/

# Ignore data folders
data/
**/data/

# Ignore specific dataset folder
NGA_population_v2_1_gridded/
**/NGA_population_v2_1_gridded/


*.tif
tif/
**/tif/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/